<div *ngIf="loading" class="spinner"></div>
<div *ngIf="!loading" class="row">
    <div class="col-sm-6">
        Login
    </div>
    <div class="col-sm-6">
        <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required autofocus [(ngModel)]="model.email" #username="ngModel">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required [(ngModel)]="model.password" #username="ngModel">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
